---
import Layout from "../../layouts/Layout.astro";
import IntroHeader from "../../components/IntroHeader.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../blog/*.md");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.frontmatter.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.frontmatter.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
let { posts } = Astro.props;

posts = posts.sort((a, b) => {
  return b.frontmatter.id - a.frontmatter.id;
});
---

<Layout title="Writing">
  <div class="flex flex-col gap-8">
    <IntroHeader
      title={`Tags: ${tag}`}
      subtitle={`A list of all posts tagged with "${tag}"`}
    />
    <div>
      <section>
        <div class="grid grid-cols-[auto_1fr] gap-8 md:gap-x-8 gap-y-16">
          <ul class="grid gap-8 max-w-md">
            {
              posts.map((post) => {
                return (
                  <li>
                    <BlogPostPreview
                      post={post}
                      postNumber={post.frontmatter.id}
                      postTitle={post.frontmatter.title}
                      postTags={post.frontmatter.tags}
                      postUrl={post.url}
                      postDate={post.frontmatter.pubDate}
                      post={post}
                      previewToggle={true}
                    />
                  </li>
                );
              })
            }
          </ul>
        </div>
      </section>
    </div>
  </div>
</Layout>
