---
import Layout from "../layouts/Layout.astro";
import IntroHeader from "../components/IntroHeader.astro";
import Button from "../components/Button.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import ArchiveDate from "../components/ArchiveDate.astro";

const tagArray = [{ title: "Learning", url: "#" }];

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);

// Group posts by month & year
const datePostsArray = [];

posts.forEach((post) => {
  let isMonthAdded = false;

  let postMonth = new Date(post.frontmatter.pubDate).toLocaleDateString(
    "en-us",
    {
      month: "long",
      year: "numeric",
    }
  );

  if (datePostsArray.length === 0) {
    datePostsArray.push(postMonth);
  }

  for (let i = 0; i < datePostsArray.length; i++) {
    if (datePostsArray[i] === postMonth) {
      isMonthAdded = true;
    }
  }
  if (isMonthAdded === false) {
    datePostsArray.push(postMonth);
  }
});

const groupedPosts = datePostsArray.map((month) => {
  return posts.filter((post) => {
    return (
      month ===
      new Date(post.frontmatter.pubDate).toLocaleDateString("en-us", {
        month: "long",
        year: "numeric",
      })
    );
  });
});
---

<Layout title="Writing" cols="1fr_2px_4fr">
  <div class="vl"></div>
  <div class="flex flex-col gap-8">
    <IntroHeader title="Writing" subtitle="Posts I've written" />
    <!-- <div class="grid grid-cols-[auto_1fr] gap-8">
      <ArchiveDate month="November" year="2022" />
      <section class="grid gap-8 md:gap-16 max-w-md">
        <BlogPostPreview
          postNumber="001"
          postTitle="Learning to learn"
          postTags={tagArray}
          postUrl="#"
          postDate="17th October, 2022"
          postExcerpt="I constantly feel like a noob. It seems like I'm always talking to some startup working in a new field I know nothing about, or reading a book about a topic..."
          previewToggle={true}
        />
        <BlogPostPreview
          postNumber="001"
          postTitle="Learning to learn"
          postTags={tagArray}
          postUrl="#"
          postDate="17th October, 2022"
          postExcerpt="I constantly feel like a noob. It seems like I'm always talking to some startup working in a new field I know nothing about, or reading a book about a topic..."
          previewToggle={true}
        />
      </section>

      <ArchiveDate month="October" year="2022" />
      <section class="grid gap-8 md:gap-16 max-w-md">
        <BlogPostPreview
          postNumber="001"
          postTitle="Learning to learn"
          postTags={tagArray}
          postUrl="#"
          postDate="17th October, 2022"
          postExcerpt="I constantly feel like a noob. It seems like I'm always talking to some startup working in a new field I know nothing about, or reading a book about a topic..."
          previewToggle={true}
        />
        <BlogPostPreview
          postNumber="001"
          postTitle="Learning to learn"
          postTags={tagArray}
          postUrl="#"
          postDate="17th October, 2022"
          postExcerpt="I constantly feel like a noob. It seems like I'm always talking to some startup working in a new field I know nothing about, or reading a book about a topic..."
          previewToggle={true}
        />
      </section>
    </div> -->
    <div>
      <section>
        {
          groupedPosts.map((month, index) => {
            let [datePostMonth, datePostYear] =
              datePostsArray[index].split(" ");
            return (
              <Fragment>
                <div class="grid grid-cols-[auto_1fr] gap-8">
                  <ArchiveDate month={datePostMonth} year={datePostYear} />
                  <section class="grid gap-8 md:gap-16 max-w-md">
                    <ul>
                      {month.map((post, index, array) => {
                        let oppositeIndex = array.length - index;
                        return (
                          <li>
                            <BlogPostPreview
                              postNumber={oppositeIndex}
                              postTitle={post.frontmatter.title}
                              postTags={tagArray}
                              postUrl="#"
                              postDate={post.frontmatter.pubDate}
                              postExcerpt="I constantly feel like a noob. It seems like I'm always talking to some startup working in a new field I know nothing about, or reading a book about a topic..."
                              previewToggle={true}
                            />
                            <time datetime={post.frontmatter.pubDate}>
                              {new Date(
                                post.frontmatter.pubDate
                              ).toLocaleDateString("en-us", {
                                month: "long",
                                day: "2-digit",
                              })}
                            </time>
                            <a href={post.url}>{post.frontmatter.title}</a>
                          </li>
                        );
                      })}
                    </ul>
                  </section>
                </div>
              </Fragment>
            );
          })
        }
      </section>
    </div>
  </div>
</Layout>
