---
import Layout from "../layouts/Layout.astro";
import IntroHeader from "../components/IntroHeader.astro";
import Banner from "../components/Banner.astro";
import Button from "../components/Button.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
import VideoPreview from "../components/VideoPreview.astro";

const posts = await Astro.glob("./blog/*.md");
const post = posts[0];
---

<Layout title="Home" cols="1fr_2px_3fr_2px_1fr">
  <div class="vl"></div>
  <section class="flex flex-col gap-4">
    <IntroHeader title="Currently" subtitle="What I’m currently working on" />
    <Banner
      href="https://twitch.tv/aroreretini"
      target="_blank"
      text="I’m building Bookstop live on Twitch! Check out the stream -->"
      svg="M5.3002 3.19995L3.7002 6.39995V19.2H7.7002V21.6H10.9002L13.3002 19.2H16.5002L21.3002 14.4V3.19995H5.3002ZM6.9002 4.79995H19.7002V13.6L17.3002 16H12.5002L10.1002 18.4V16H6.9002V4.79995ZM10.9002 7.19995V12.8H12.5002V7.19995H10.9002ZM14.1002 7.19995V12.8H15.7002V7.19995H14.1002Z"
    />
    <div class="flex flex-col gap-1">
      <div class="flex gap-2">
        <svg
          width="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.75 0.125V1.625H9.25V3.15796C4.43059 3.54164 0.625 7.58371 0.625 12.5C0.625 17.6689 4.83108 21.875 10 21.875C15.1689 21.875 19.375 17.6689 19.375 12.5C19.375 7.58371 15.5694 3.54164 10.75 3.15796V1.625H12.25V0.125H7.75ZM17.5337 2.84375L16.3413 4.03979C17.1438 4.63604 17.8298 5.38279 18.3848 6.23779L19.6562 4.96631L17.5337 2.84375ZM10 4.625C14.3583 4.625 17.875 8.14167 17.875 12.5C17.875 16.8583 14.3583 20.375 10 20.375C5.64167 20.375 2.125 16.8583 2.125 12.5C2.125 8.14167 5.64167 4.625 10 4.625ZM9.4375 5.75L9.625 7.25H10.375L10.5625 5.75H9.4375ZM14.3755 7.3291L13.4468 8.52222L13.9778 9.05322L15.1709 8.12451L14.3755 7.3291ZM5.49194 7.46167L4.96167 7.99194L8.5769 12.032C8.50297 12.2571 8.48343 12.4965 8.51986 12.7307C8.55629 12.9648 8.64767 13.1869 8.78652 13.3789C8.92536 13.571 9.10771 13.7273 9.31863 13.8353C9.52956 13.9432 9.76306 13.9997 10 14C10.3978 14 10.7794 13.842 11.0607 13.5607C11.342 13.2794 11.5 12.8978 11.5 12.5C11.5 12.1022 11.342 11.7206 11.0607 11.4393C10.7794 11.158 10.3978 11 10 11C9.8407 11.0003 9.68246 11.0261 9.53125 11.0762L5.49194 7.46167ZM3.25 11.9375V13.0625L4.75 12.875V12.125L3.25 11.9375ZM16.75 11.9375L15.25 12.125V12.875L16.75 13.0625V11.9375ZM6.02222 15.9468L4.8291 16.8755L5.62451 17.6709L6.55322 16.4778L6.02222 15.9468ZM13.9778 15.9468L13.4468 16.4778L14.3755 17.6709L15.1709 16.8755L13.9778 15.9468ZM9.625 17.75L9.4375 19.25H10.5625L10.375 17.75H9.625Z"
            fill="white"></path>
        </svg>
        <h3 class="text-2xl font-bold">Bookstop</h3>
      </div>
      <p class="font-bold">Speedrun your morning routine</p>
      <p>
        For years, I’ve struggled with consitently following a routine in the
        mornings. As someone diagnosed with an executive function disorder,
        routines are tricky things indeed.
        <br />
        <br />
        One day, I had an idea: what if I created a list of tasks, then benchmarked
        how long it took me to complete them, individually and cumulatively. My arm-chair
        psychology hypothesis was that it’d make the routine much more dopaminergic.
        <br />
        <br />
        Well, two years later, I have a (somewhat) functional proof-of-concept: Bookstop.
        It’s written entirely in vanilla Javascript, so it’s a bit rough around the
        edges, but it’s allowed me to test the efficacy of the method, and n=1, it’s
        been highly effective!
      </p>
    </div>
    <Button text="More about Bookstop -->" href="/writing/bookstop" />
  </section>
  <div class="vl"></div>

  <aside class="flex flex-col gap-8 min-w-full max-w-full">
    <IntroHeader title="Latest" subtitle="The most recent writing & video" />
    <BlogPostPreview
      post={post}
      postNumber={posts.length}
      postTitle={post.frontmatter.title}
      postTags={post.frontmatter.tags}
      postUrl={post.url}
      postDate={post.frontmatter.pubDate}
      post={post}
      previewToggle={true}
    />
    <VideoPreview
      videoTitle="Sunday morning"
      videoThumbnail="/images/thumbnail.png"
      videoUrl="#"
      videoDescription="A short and strange video of how I start the day."
      publishedDate="17th October, 2022"
    />
  </aside>
</Layout>
