---
import PublishedDate from "./PublishedDate.astro";
import Button from "./Button.astro";
import PostExcerpt from "@igor.dvlpr/astro-post-excerpt";

const {
  post,
  postNumber,
  postTitle,
  postDate,
  postUrl,
  previewToggle,
  postTags,
} = Astro.props;
---

<div class="flex flex-col">
  <p class="italic mb-2">Post #{postNumber}</p>
  <a href={postUrl}
    ><h3 class="font-glamour text-2xl mb-2 lg:mb-4">{postTitle}</h3>
  </a>
  <ul class="flex gap-4 mb-2 lg:mb-4">
    {
      postTags.map((tag) => (
        <li class="tag">
          <a href={`./tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
  <PublishedDate publishedDate={postDate} />
  {
    previewToggle ? (
      <div>
        <p class="mt-2 mb-4">
          {post ? (
            <PostExcerpt post={post} words={20} addEllipsis={true} />
          ) : null}
        </p>
        <Button text="Read post -->" href={postUrl} />
      </div>
    ) : null
  }
</div>
