---
import Layout from "./Layout.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
const { frontmatter: post } = Astro.props;
const { title, pubDate, tags, id, url } = post;

const arrow = "<--";
---

<Layout title="Writing" cols="1fr_2px_4fr">
  <div class="vl"></div>
  <div class="flex flex-col gap-8">
    <a href="/blog" class="text-gray">{arrow} back to blog</a>
    <BlogPostPreview
      post=""
      postNumber={id}
      postTitle={title}
      postTags={tags}
      postDate={pubDate}
      previewToggle={true}
    />
    <hr class="w-20 border-t-0 border-b-2 border-gray" />
    <section>
      <article class="prose prose-base">
        <slot />
      </article>
    </section>
  </div>
</Layout>
